
<!-- <div class="flex justify-start items-center"> -->
<!-- <div class="w-[25vw] h-full bg-base-300"></div> -->
<!-- </div> -->

<div class=" h-16 w-full flex justify-around items-center px-10">
<div>
<div> <span class="">Code</span> <span class="">Samurai.</span> </div>
</div> 
        <select class="select select-success w-full max-w-xs">
                <option disabled selected>Project Catagory</option>
                <!-- <option>One Piece</option> -->
                <!-- <option>Naruto</option> -->
                <!-- <option>Death Note</option> -->
                <!-- <option>Attack on Titan</option> -->
                <!-- <option>Bleach</option> -->
                <!-- <option>Fullmetal Alchemist</option> -->
                <!-- <option>Jojo's Bizarre Adventure</option> -->
              </select>
        <select class="select select-success w-full max-w-xs">
                <option disabled selected>Project time</option>
                <!-- <option>One Piece</option> -->
                <!-- <option>Naruto</option> -->
                <!-- <option>Death Note</option> -->
                <!-- <option>Attack on Titan</option> -->
                <!-- <option>Bleach</option> -->
                <!-- <option>Fullmetal Alchemist</option> -->
                <!-- <option>Jojo's Bizarre Adventure</option> -->
              </select>
</div>

<div class="flex w-full h-[calc(100vh-64px)] relative overflow-hidden" *ngIf="projects">

<div *ngIf="isShowDetails"  class="relative overflow-hidden w-1/2 h-full bg-base-300 ">
        <label class="btn btn-circle top-4 right-4 absolute" (click)="isShowDetails=false">x</label>
        <label for="my-modal-3" class="btn btn-circle bottom-4 right-4 absolute">?</label>
<div class=" h-full flex flex-col justify-center items-start p-3 overflow-scroll">
 <div *ngIf="projects.at(detailesIndex) as project" class="flex flex-col">
 <div class="font-semibold text-xl my-4">{{project.projectName}}</div>
 <!-- <div class="divider"></div> -->
 <div class="mb-4"><span class="font-semibold">Description: </span>{{project.description}}</div>
        <div class="mb-4"><span class="font-semibold">Agencies : </span> <span *ngFor="let agancy of project.affiliatedAgencies">{{agancy.name}},</span></div>
 <div class="w-full h-full grid grid-cols-2 gap-4">
 <div class="h-32 bg-base-100 rounded-md flex flex-col justify-center items-center px-3"><span class="font-semibold">Category</span> <span class="divider"></span> {{project.categoryName}}</div>
 <div class="h-32 bg-base-100 rounded-md flex flex-col justify-center items-center px-3"><span class="font-semibold">Total Budget</span> <span class="divider"></span> {{project.totalBudget}}</div>
 <div class="h-32 bg-base-100 rounded-md flex flex-col justify-center items-center px-3"><span class="font-semibold">Start</span> <span class=" divider"></span> {{project.startTime}}</div>
 <div class="h-32 bg-base-100 rounded-md flex flex-col justify-center items-center px-3"><span class="font-semibold">End</span> <span class="divider"></span> {{project.completionTime}}</div>
 <div class="h-32 bg-base-100 rounded-md flex flex-col justify-center items-center px-3" ><span class="font-semibold">Completion</span> <span class="divider"></span> {{project.completionPercentage}}%</div>
 </div>
</div>
 </div>
</div>
<div class="h-full flex-1">
<google-map height="100%"
            width="100%"
            *ngIf="center"
            [center]="center"
            (mapClick)="addMarker($event)">
      <ng-container
              *ngFor="let project of projects; let i = index"
      >
 <map-marker #marker="mapMarker"
              *ngFor="let position of project.locations"
              [title]="project.projectName"
              [position]="getPosition(position)"
              (mapClick)="openInfoWindow(marker,i)"></map-marker>
 
  <map-info-window>
          <div class="flex flex-col justify-center items-center">
           <div class="text-xl "> {{project.projectName}} </div>
           <div class="text-lg"> {{project.description}} </div>
            <button class="btn btn-outline" (click)="showDetails(i)">see details</button>
          </div>
  </map-info-window>
</ng-container>
</google-map>
</div>
</div>
<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal-3" class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative">
    <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <h3 class="text-lg font-bold mb-4">Report an Issue</h3>
    <form  [formGroup]="issueForm">
    <input type="text" formControlName="name" class="input input-bordered w-full mb-4" placeholder="Name">
    <input type="text" formControlName="address" class="input input-bordered w-full mb-4" placeholder="Address">
    <textarea type="text" formControlName="report" class="input input-bordered w-full mb-4" placeholder="Your report"></textarea>
    <button class="btn btn-outline w-full" [class.disabled]="issueForm.invalid" (click)="postIssue()" >report</button>
    </form>
  </div>
</div>
